body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8,
.grid-item9,
.grid-item10,
.grid-item11,
.grid-item12,
.grid-item13,
.grid-item14,
.grid-item15,
.grid-item16,
grid-item17,
grid-item18 {
  width: 100%;
  font-size: 1.5em;
  height: 100%;
  background-color: none;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.grid-item1:hover,
.grid-item2:hover,
.grid-item4:hover,
.grid-item5:hover,
.grid-item6:hover,
.grid-item7:hover,
.grid-item8:hover,
.grid-item9:hover,
.grid-item10:hover,
.grid-item11:hover,
.grid-item13:hover,
.grid-item14:hover,
.grid-item15:hover,
.grid-item16:hover {
  transform: scale(1.05);
  color: white;
}

.hidden-div-image img,
.hidden-div-image2 img,
.hidden-div-image3 img,
.hidden-div-image4 img,
.hidden-div-image5 img,
.hidden-div-image6 img,
.hidden-div-image7 img,
.hidden-div-image8 img,
.hidden-div-image9 img,
.hidden-div-image10 img,
.hidden-div-image11 img,
.hidden-div-image12 img,
.hidden-div-image13 img,
.hidden-div-image14 img,
.hidden-div-image15 img,
.hidden-div-image16 img {
  height: 100%;
  max-width: 80%;
  image-border: 2px;
  display: block;
  object-fit: contain;
  margin: auto;
}


#SectionHead {
  grid-column: span 2;
  border: none;
  color: black;
}

.hidden-div {
  position: absolute;
  left: 200px;
  top: calc(50% - 75px);
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: block;
  padding: 5px;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 1000;
}

.hidden-div2 {
  position: absolute;
  left: 205px;
  top: calc(50% - 80px);
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: block;
  padding: 5px;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
}
.grid-item2:hover ~ .hidden-div {
  transform: perspective(500px) translateZ(300px);
  opacity: 0;
}
.grid-item2:hover ~ .hidden-div2 {
  transform: translate(-5px, 5px);
}
.grid-item2:hover ~ .hidden-div3 {
  transition-delay: 0.1s;
  transform: translate(-5px, 5px);
}
.grid-item2:hover ~ .hidden-div4 {
    transition-delay: 0.2s;
    transform: translate(-5px, 5px);
  }

.hidden-div3 {
  position: absolute;
  left: 210px;
  top: calc(50% - 85px);
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: block;
  padding: 5px;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 998;
}

.grid-item4:hover ~ .hidden-div {
  transform: perspective(500px) translateZ(300px);
  opacity: 0;
}
.grid-item4:hover ~ .hidden-div2 {
  transition-delay: 0.1s;
  transform: translate(-5px, 5px);
  transform: perspective(500px) translateZ(300px);
  opacity: 0;
}
.grid-item4:hover ~ .hidden-div3 {
  transition-delay: 0.1s;
  transform: translate(-10px, 10px);
}
.grid-item4:hover ~ .hidden-div4 {
    transition-delay: 0.2s;
    transform: translate(-10px, 10px);
  }

.hidden-div4 {
    position: absolute;
    left: 215px;
    top: calc(50% - 90px);
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    color: black;
    display: block;
    padding: 5px;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 997;
}

.grid-item5:hover ~ .hidden-div {
    transform: perspective(500px) translateZ(300px);
    opacity: 0;
  }
  .grid-item5:hover ~ .hidden-div2 {
    transition-delay: 0.1s;
    transform: translate(-5px, 5px);
    transform: perspective(500px) translateZ(300px);
    opacity: 0;
  }
  .grid-item5:hover ~ .hidden-div3 {
    transition-delay: 0.2s;
    transform: translate(-5px, 5px);
    transform: perspective(500px) translateZ(300px);
    opacity: 0;
  }

  .grid-item5:hover ~ .hidden-div4 {
    transition-delay: 0.2s;
    transform: translate(-15px, 15px);
  }
  