/* .rectangle {
    position: absolute;
    left: 50%;
    bottom: 0; 
    border-bottom: 432px solid #555;
    width: 20px;
    height: 0;
    transform: translateX(-50%);
}*/


.pos{
    position: absolute;
    opacity: 0;
    top: 447px;
    left: 272px;
    width: 925px;
    height: 433px;
    object-fit: fill;
}


/* .right_triangle {
    position: absolute;
    left: 50.6%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 216px solid transparent; 
    border-right: 227px solid transparent;
    border-bottom: 216px solid #555; 
    border-left: 227px solid #555; 
}

.left_triangle {
    position: absolute;
    left: 18.5%;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 216px solid transparent; 
    border-right: 227px solid #555; 
    border-bottom: 216px solid #555;
    border-left: 227px solid transparent; 
} */
