:root {
    --normal-font-family: Helvetica;
    --normal-font-size: 44px;
    --normal-font-style: normal;
    --normal-font-weight: 400;
    --normal-letter-spacing: 0px;
    --normal-line-height: normal;
  }

  @font-face {
    font-family: 'RobotoMono';
    src: url('../public/RobotoMono-VariableFont_wght.ttf') format('truetype');
  }

/* buy a ticket */
.ticket-button {
  color: #000000;
  font-family: "RobotoMono";
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  font-weight: 325;
  white-space: nowrap;
  filter: blur(0px);
  transition: filter 1.5s; /* transition duration for hover off */
}
.ticket-button:hover {
  filter: blur(1.5px);
  transition: filter 0.4s; /* transition duration for hover on */
}

.tix {
    transform: 'translate3d(0, 0, 12)';
  }
  
  .tix .text-wrapper {
    color: #000000;
    font-family: "NewEdge 666-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 666px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 33px;
    white-space: nowrap;
    width: 179px;
  }
  


  
  .tix .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 104px;
    width: 154px;
  }
  
  .tix .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 228px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 104px;
    width: 154px;
  }
  
  .tix .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 1282px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 104px;
    width: 154px;
  }
  
  .tix .text-wrapper-5 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 294px;
    width: 308px;
  }
  
  .tix .overlap-group {
    height: 371px;
    left: 496px;
    position: absolute;
    top: 294px;
    width: 416px;
  }
  
  .tix .text-wrapper-6 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 223px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 0;
    width: 193px;
  }
  
  .tix .text-wrapper-7 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 179px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 190px;
    width: 116px;
  }
  
  .tix .rectangle {
    height: 320px;
    left: 0;
    position: absolute;
    top: 51px;
    width: 320px;
  }
  
  .tix .text-wrapper-8 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 1282px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 294px;
    width: 154px;
  }
  
  .tix .text-wrapper-9 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 484px;
    width: 154px;
  }
  
  .tix .text-wrapper-10 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 1359px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 504px;
    width: 77px;
  }
  
  .tix .text-wrapper-11 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 674px;
    width: 193px;
  }
  
  .tix .text-wrapper-12 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 326px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 674px;
    width: 116px;
  }
  
  .tix .text-wrapper-13 {
    color: #000000;
    font-family: "Roboto Mono-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 619px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: justify;
    top: 674px;
    width: 116px;
  }
  